header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h1,
h1 svg {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin: 1rem;
}

nav,
nav a {
  margin: 1rem;
  font-size: 1.2rem;
}