* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 1rem;
}

.calculator main {
  display: flex;
  width: 100vw;
  padding: 0 3rem 0 0;
  justify-content: space-around;
}

h2 {
  font-size: 2rem;
  margin: 1rem;
}

p {
  font-size: 1.2rem;
  margin: 1rem;
}

@media (max-width: 767px) {
  .calculator main {
    flex-direction: column;
    padding: 0 3rem 0 0;
  }
}